

* {
    box-sizing: border-box;
  }
  
  
  .btn-outline-primary:hover{
    color: aliceblue;

}




.container input[type="radio"] {
    position: absolute;
    opacity: 0;
  }

  .container:before {
    background: url("http://www.dogbreedslist.info/dog-wallpapers/Yorkshire-Terrier-glasses-fluffy-wind-900x506.jpg") center / cover;
    content: '';
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    opacity: 0.6;
  }
    
  button a{
    text-decoration: none;
}
#start-page{
  text-align: center;
  text-shadow: 2px 2px 8px white;
  font-weight: bolder;
}



.question{
    text-align: center;
  text-shadow: 2px 2px 8px white;
  font-weight: bolder;
 
}

#js-submit-button{
    text-align: center;
    
   
    
}



.label{
    display: block;
    border-radius: 15px;
    margin-bottom: 5px;
    width:30%;
    padding: 8px;
    background-color: navy;
    border:2px solid black;
    color:#fefbd8;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
  }
  
   .label:hover{
     background-color: blue;
     cursor: pointer;
     border:2px solid black;
     
   }
   .label:focus{
     background-color: blue;
     cursor: pointer;
     border:2px solid black;
     
   }
   
   
   input:checked + label{
     background-color: blue;
     border:2px solid black;
   }
  





.timer{
    text-align: center;
    text-shadow: 2px 2px 8px white;
    font-size: 5em;
    
}

#questionsPage{
    text-align: center;
}


#win-lose-timeOut, #finalPage{
    text-align: center;
    text-shadow: 2px 2px 8px white;
    font-size: 2em;
    font-weight: bolder;
    margin-top: 80px;
}

.block{
    display: block;
}

.resultMessage{
    text-align: center;
    text-shadow: 2px 2px 8px white;
    font-size: 2em;
    
}

.resultPic{
    border-radius: 10%;
}